.gallery-album-page {
	margin: 20px;
}

.gallery-album-title {
	text-align: center;
	margin-bottom: 10px;
}

.gallery-album-summary {
	margin: 0 auto;
	margin-bottom: 20px;
}

.gallery-album-link-back {
	display: inline-block;
	text-decoration: none;
	color: var(--black);
	font-weight: 600;
}

.gallery-album-list {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}


.image-gallery-slide .image-gallery-image {
	width: 300px;
	height: 250px;
}


.image-gallery-icon:hover,
.image-gallery-thumbnail:hover {
	color: var(--green07);
}

.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail.active {
	border-color: var(--green07);
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.gallery-album-page {
		margin: 40px 20px;
	}

	.gallery-album-summary {
		/* not sure on this percentage */
		width: 80%;
	}

	.gallery-album-image-container {
		/* this should be a different aspect ratio for tablet/desktop */
		width: 400px;
		height: 300px;
	}
	.image-gallery-slide .image-gallery-image {
	width: 400px;
	height: 350px;
}
}

@media screen and (min-width: 1200px) {
	.gallery-album-page {
		margin: 40px auto;
	}
	.image-gallery-slide .image-gallery-image {
	width: 500px;
	height: 450px;
}
}
