.slick-list {
	height: 100%;
}

.home-news-section {
	background-color: var(--green10);
}

.home-news-title {
	margin-top: 10px;
	color: var(--green07);
}

.home-news-line {
	background-image: linear-gradient(
		90deg,
		var(--green17) 0%,
		var(--green12) 50%,
		var(--green17) 100%
	);
	width: 85%;
}
